# Patterns

In [1]:
##triangle

In [3]:
num=int(input())
for i in range(1,num+1):
    print("*"*i)

7
*
**
***
****
*****
******
*******

In [7]:
num=int(input())
for i in range(1,num+1):
    print(" "*(num-i)+"*"*i)

6
     *
    **
   ***
  ****
 *****
******

In [8]:
num=int(input())
for i in range(1,num+1):
    print(" "*(num-i)+"* "*i) ## can you imagine what i did here with just one space..

7
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [12]:
num=int(input())
for i in range(1,num+1):
    print(" "*(num-i)+"* "*i)
for i in range(num-1,0,-1):
    print(" "*(num-i)+"* "*i) ##ohh wait what you repated the previous code!!!

7
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [14]:
num=int(input())
"""for i in range(1,num+1):
    print(" "*(num-i)+"* "*i)"""
for i in range(num-1,0,-1):
    print(" "*(num-i)+"* "*i)

6
 * * * * *
  * * * *
   * * *
    * *
     *

In [17]:
num=int(input())
for i in range(1,num+1):
    print(" "*i+"*"*(num-i))

6
 *****
  ****
   ***
    **
     *

In [23]:
num=int(input())
k=1
for i in range(1,num+1):
    for j in range(1,k+1):
        print("*",end="")     ##using j and k like a pro!!!
    print()
    k+=2

3
*
***
*****

In [40]:
num=int(input())           ##print(" "*(num-i)+"* "*i)
for i in range(1,num):
    for j in range(1,num-i+1):
        print(" ",end="")
    for j in range(1,i+1):
        print("* ",end="")
    print()

5
    *
   * *
  * * *
 * * * *

In [44]:
num=int(input())           ##print(" "*(num-i)+"* "*i)
for i in range(1,num):
    for j in range(1,i+1):
        print(" ",end="")
    for j in range(1,num-i+1):
        print("*",end="")
    print()

5
 ****
  ***
   **
    *

In [49]:
num=int(input())           ##print(" "*(num-i)+"* "*i)
for i in range(1,num-1):
    for j in range(1,num-i+1):
        print(" ",end="")
    for j in range(1,i+1):
        print("* ",end="")
    print()
    
for i in range(num-1,0,-1):
    for j in range(1,num-i+1):
        print(" ",end="")
    for j in range(1,i+1):
        print("* ",end="")
    print()

9
        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
  * * * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [50]:
num

9

In [52]:
for i in range(1,num+1):
    print(" "*(num-i)+"* "*i)
for i in range(num-1,0,-1):
    print(" "*(num-i)+"* "*i)

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *
 * * * * * * * *
  * * * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [58]:
for row in range(7):
    for col in range(5):
        if(((col==0 or col==4) and row!=0) or (row==0 or row==4) and(col>0 and col<4)):
            print("*",end="")
        else:
            print(" ",end="")
    print()

 ***
*   *
*   *
*   *
*****
*   *
*   *

In [73]:
for row in range(7):
    for col in range(5):
        if(col==0 or (col==4 and (row!=0 and row!=3 and row!=6)) or (col<4 and col>0) and (row==0 or row==3 or row==6)):

            print("*",end="")
        else:
            print(" ",end="")
    print()

****
*   *
*   *
****
*   *
*   *
****

In [76]:
for row in range(7):
    for col in range(5):
        if(col==0 or((row==0 or row==6)and(col>0))):
            print("*",end="")
        else:
            print(" ",end="")
    print()

*****
*
*
*
*
*
*****

In [82]:
for row in range(7):
    for col in range(5):
        if(col==0 or(col==4 and(row!=0 and row!=6)))or((row==0 or row==6)and(col>0 and col<4)):
            print("*",end="")
        else:
            print(" ",end="")
    print()

****
*   *
*   *
*   *
*   *
*   *
****

In [86]:
for row in range(7):
    for col in range(5):
        if(col==0 or((row==0 or row==3)and(col>0))):
            print("*",end="")
        else:
            print(" ",end="")
    print()

*****
*
*
*****
*
*
*

In [87]:
for row in range(7):
    for col in range(5):
        if(col==0 or((row==0 or row==3 or row==6)and(col>0))):
            print("*",end="")
        else:
            print(" ",end="")
    print()

*****
*
*
*****
*
*
*****

In [92]:
for row in range(7):
    for col in range(6):
        if(col==0 or((row==0 or row==6)and (col<5 and col>0))or(row!=1 and row!=2)and (col==4)or(row==3 and (col==3 or col==5))):
            print("*",end="")
        else:
            print(" ",end="")
    print()

*****
*
*
*  ***
*   *
*   *
*****

In [94]:
for col in range(7):
    for row in range(6):
        if(col==0 or col==5 or (row==3 and(col>0 and col<5))):
            print("*",end="")
        else:
            print(" ",end="")
    print()

******
   *
   *
   *
   *
******

In [95]:
for row in range(7):          ##You can see what i did there
    for col in range(6):
        if(col==0 or col==5 or (row==3 and(col>0 and col<5))):
            print("*",end="")
        else:
            print(" ",end="")
    print()

*    *
*    *
*    *
******
*    *
*    *
*    *

In [6]:
for row in range(7):          
    for col in range(5):
        if(col==0 or(row==col+2)or(row==col-2)):
            print("*",end="")
        else:
            print(" ",end="")
    print()

* *
*  *
*   *
**
* *
*  *
*   *

In [11]:
for row in range(7):          
    for col in range(5):
        if(col==0 or(row==col+2)or(row==4-col)):
            print("*",end="")
        else:
            print(" ",end="")
    print()

*   *
*  *
* *
**
* *
*  *
*   *

In [13]:
for row in range(7):          
    for col in range(5):
        if(col==0 or (row==6 and col>0)):
            print("*",end="")
        else:
            print(" ",end="")
    print()

*
*
*
*
*
*
*****

In [22]:
for row in range(6):          
    for col in range(5):
        if(col==0 or col==4 or((row==4-col and col>=2))or(row==col and col<2)):
            print("*",end="")
        else:
            print(" ",end="")
    print()

*   *
** **
* * *
*   *
*   *
*   *

In [24]:
for row in range(6):          
    for col in range(6):
        if(col==0 or col==5 or (row==col)):
            print("*",end="")
        else:
            print(" ",end="")
    print()

*    *
**   *
* *  *
*  * *
*   **
*    *

In [50]:
for row in range(7):          
    for col in range(6):
        if(((col==0 or col==5) and(row!=0 and row!=6)) or (row==0 or row==6) and(col!=0 and col!=5)):
            print("*",end="")
        else:
            print(" ",end="")
    print()

 ****
*    *
*    *
*    *
*    *
*    *
 ****

In [64]:
for row in range(7):          
    for col in range(5):
        if(col==0 or((row==0 or row==3) and(col>0 and col<4)) or(col==4 and (row<3 and row>0 ))):
            print("*",end="")
        else:
            print(" ",end="")
    print()

****
*   *
*   *
****
*
*
*

In [71]:
for row in range(7):          
    for col in range(6):
        if(((col==0 or col==5) and(row!=0 and row!=5 and row!=6)) or (row==0 or row==5) and(col!=0 and col!=5) or(row==4 and col==1)or(row==6 and col==4)):
            print("*",end="")
        else:
            print(" ",end="")
    print()

 ****
*    *
*    *
*    *
**   *
 ****
    *

In [83]:
row=int(input())
col=int(input())

for i in range(row):
    for j in range(col):
        if(i==0 or(j==col-1 and i>0)or(if(i==j and (i>0 and i<row-1) and (j>0 and j<col-1))):
            print("*",end="")
        else:
            print(" ",end="")
    print()

 9
 8

********
 *     *
  *    *
   *   *
    *  *
     * *
      **
       *
       *

In [88]:
n=int(input())
num=1
for row in range(1,n+1):
    for col in range(1,row+1):
        print("%d "%num,end="")
        num=num+1
    print()

 6

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21

In [93]:
string=str(input())
n=len(string)
for row in range(0,n):
    for col in range(0,row+1):
        print(string[col],end="")
    print()

 satyam

s
sa
sat
saty
satya
satyam

In [1]:
n=int(input())
num=1
for row in range(n,0,-1):
    for col in range(1,row+1):
        print(col,end="")
        num=num+1
    print()

 6

123456
12345
1234
123
12
1

In [2]:
n=int(input())
num=1
for row in range(n,0,-1):
    for col in range(1,row+1):
        print(row,end="")
        num=num+1
    print()

 9

999999999
88888888
7777777
666666
55555
4444
333
22
1

In [16]:
n=int(input())
k=2
for row in range(1,n+1):          
    for col in range(1,2*n):
        if( (row+col==n+1) or (col-row==n-1)):
            print("*",end="")
        elif(row==n and col!=k):
            print("*",end="")
            k=k+2
        else:
            print(" ",end="")
    print()

8
       *
      * *
     *   *
    *     *
   *       *
  *         *
 *           *
* * * * * * * *

In [4]:
n=int(input())
row=0
while(row<n):
    star=row+1
    while(star>0):
        print("*",end="")
        star=star-1
    print()
        
    row=row+1

4
*
**
***
****

In [6]:
num=int(input())
for i in range(num+1):
    print(" "*(num-i)+"* "*i)

5

    *
   * *
  * * *
 * * * *
* * * * *

In [10]:
# n=int(input())
# row=0
# while(row<n):
#     star=row+1
#     while(star>0):
#         print(" "*(n-star)+"* "*star,end="")
#         star=star-1
#     print()
        
#     row=row+1

In [16]:
for row in range(6):          
    for col in range(7):
        if((row==0 and col%3!=0) or (row==1 and col%3==0)or(row+col==8) or(row-col==2)):
            print("*",end="")
        else:
            print(" ",end="")
    print()

 ** **
*  *  *
*     *
 *   *
  * *
   *

In [18]:
n=int(input())
n_list=[[0 for x in range(n)] for y in range(n)]
count=int((n+1)/2)
num=1
low=0
high=n-1

for i in range(count):
    for j in range(low,high+1):
        n_list[i][j]=num
        num=num+1
        
    for j in range(low+1,high+1):
        n_list[j][high]=num
        num=num+1
        
    for j in range(high-1,low-1,-1):
        n_list[high][j]=num
        num=num+1
        
    for j in range(high-1,low,-1):
        n_list[j][low]=num
        num=num+1
        
    low=low+1
    high=high-1



for i in range(n):
    for j in range(n):
        print(n_list[i][j],end="\t")
    print()

10
1	2	3	4	5	6	7	8	9	10
36	37	38	39	40	41	42	43	44	11
35	64	65	66	67	68	69	70	45	12
34	63	84	85	86	87	88	71	46	13
33	62	83	96	97	98	89	72	47	14
32	61	82	95	100	99	90	73	48	15
31	60	81	94	93	92	91	74	49	16
30	59	80	79	78	77	76	75	50	17
29	58	57	56	55	54	53	52	51	18
28	27	26	25	24	23	22	21	20	19

In [22]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,num-i+1):
        print(" ",end="")
    
    for j in range(i,0,-1):
        print(j ,end="")
    
    for j in range(2,i+1):
        print(j ,end="")
    print()

6
                                                                                                    1
                                                                                                   212
                                                                                                  32123
                                                                                                 4321234
                                                                                                543212345
                                                                                               65432123456

In [30]:
n=int(input())
for row in range(n):
    val=row+1
    dec=n-1
    for col in range(row+1):
        print(val,end="")
        val=val+dec
        dec=dec-1
    print()

5
1
26
3710
481113
59121415

In [ ]:
n=int(input())
for i in range(n):
    for j in range(i+1):    ##very important
        x=0
        for k in range(j):
            x=x+n-k
        if j%2==0:
            print(x+i-j+1,end=" ")
        else:
            print(x+n-i,end=" ")
    print()