In [15]:
for i in range(5):
    for j in range(5):
        print(max(i+1,j+1,5-i,5-j),end=" ")
    
    print()

5 5 5 5 5
5 4 4 4 5
5 4 3 4 5
5 4 4 4 5
5 5 5 5 5

In [2]:
n=int(input())

25

In [20]:
def isprime(j):
    for i in range(2,n):
        if(j%i==0):
            return False
        else:
            True
def print(n):
    for j in range(2,n+1):
        if isprime(j):
            print(j)

In [21]:
print(26)

In [25]:
a=5
def print(n):
    for j in range(2,n+1):
        if (a>n):
            print(j)

In [ ]:
print(3)

In [2]:
N=int(input())
list=[i for i in range(1,N)]
list

 20

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [9]:
li=[]
N=int(input())
for i in range(1,N):
    li.append(i)
li[0]

 5

1

In [12]:
list=[]
n=int(input())

for i in range(n):
    list.append(int(input()))
    
list

 8
 12
 54
 36
 78
 59
 14
 23
 56

[12, 54, 36, 78, 59, 14, 23, 56]

In [15]:
l=[4,3,8,9,1,2]
l.sort()

In [16]:
print(l)

[1, 2, 3, 4, 8, 9]

In [17]:
l.sort(reverse=True)

In [19]:
print(l)

[9, 8, 4, 3, 2, 1]

In [21]:
## sort method to take integers as a input

In [29]:
list_custominput=[int(number) for number in input().split()]

 1 2 3 45 6 7 89 4 5 6627 266

In [30]:
list_custominput

[1, 2, 3, 45, 6, 7, 89, 4, 5, 6627, 266]

In [31]:
max(list_custominput)

6627

In [32]:
min(list_custominput)

1

In [63]:
li=[1,2,3,4,5]
t=tuple(li)
print(t)

(1, 2, 3, 4, 5)

In [2]:
tup=(5,7,9)
list(tup)

[5, 7, 9]

In [3]:
li=[1,2,3]

In [4]:
tup=tuple(li)

In [5]:
tup

(1, 2, 3)

In [15]:
s={1,2,3,4,5,1}

In [19]:
s.add(25)
s

{1, 2, 3, 4, 5, 25}

In [17]:
s1={1,5,6,48,9}

In [9]:
s1

{1, 5, 6, 9, 48}

In [13]:
s.intersection(s1)

{1, 5}

In [14]:
s.clear

In [15]:
s

{1, 2, 3, 4, 5}

In [16]:
s.clear()

In [10]:
s

set()

In [11]:
line="heytherehoeareyou"

In [12]:
freq={}
for ch in line:
    if ch in freq:
        freq[ch]+=1
    else:
        freq[ch]=1

In [13]:
freq

{'h': 3, 'e': 5, 'y': 2, 't': 1, 'r': 2, 'o': 2, 'a': 1, 'u': 1}

In [27]:
li=[3,4,5,7,2,3,4,5]

target=7

visited=set()
result=list()

for l in li:
    second=target-l
    if second in visited:
        result.append((second,l))
        
    visited.add(l)

In [28]:
result

[(3, 4), (5, 2), (4, 3), (3, 4), (2, 5)]

In [29]:
set(result)

{(2, 5), (3, 4), (4, 3), (5, 2)}

In [34]:
l1=["mango","pery","oregano"]
l2=[45,25,48]
z=dict(zip(l1,l2))

In [35]:
type(z)

dict

In [36]:
z

{'mango': 45, 'pery': 25, 'oregano': 48}

In [2]:
li=input()

1523 125 364 58

In [12]:
m=map(lambda x:x+5,range(51))
m

In [17]:
users={
    "satyam":"123456",
    "noka":"789456"
}

In [20]:
def add(a,b):
    return a+b

In [21]:
add(1,2)

3

In [33]:
def login_required(func):
    def wrapper(username,password,*args,**kwargs):
        if username in users and users[username]==password:
            func(*args,**kwargs)
        else:
            print("not authenticated")
            
    return wrapper

In [52]:

@login_required
def add(a,b):
    print(a+b)

In [56]:
add("satyam","123456",2,1)

3